@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["title"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["h1-text"]</h1>
    <p>@Localizer["p-text-part1"] <a href="https://docs.microsoft.com/aspnet/core">@Localizer["p-text-part2"]</a>.</p>

    @if (ViewBag?.EmailOptions != null)
    {
        <p>@System.Text.Json.JsonSerializer.Serialize(ViewBag.EmailOptions)</p>
    }
</div>
