@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["privacy-title"];
}
<h1>@ViewData["Title"]</h1>

<div>@Model</div>
<p>@Localizer["privacy-text"].</p>
